/* css for header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #0f4c75;
  color: white;
  padding: 0 20px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__logo > img {
  height: 100%;
}

.header__search {
  display: flex;
  flex: 1;
  border-radius: 24px;
  overflow: hidden;
  background-color: white;
  margin: 0 10px;
}

.header__search > input {
  flex: 1;
  border: 0;
  outline: none;
}

.header__search > input:focus {
  outline: none;
}

.header__search > input::placeholder {
  color: gray;
  font-weight: 500;
}

.header__searchIcon {
  background-color: #cd9042;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 700;
}

.header__optionBasket {
  display: flex;
  align-items: center;
}

.header__basketCount {
  padding-left: 4px;
  font-weight: 700;
  color: #cd9042;
}

/* Language: css */
/* Path: client\src\components\Home.css */
/* css for home */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  height: 100vh;
}

.home__container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  max-width: 1500px;
  margin-top: 20px;
  padding: 20px;
  z-index: 1;
}

.home__image {
  margin-bottom: 15px;
  width: 100%;
  max-width: 250px;
  object-fit: contain;
}


